<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:include="include :: public_css" />
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-row" id="app">
    <form class="layui-form" id="form-member-add">
        <div class="layui-form-item">
            <label class="layui-form-label required">字典类型</label>
            <div class="layui-input-block">
                <input type="text" name="type" v-model="type" lay-verify="required" lay-reqtext="字典类型不能为空" placeholder="请输入字典类型" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" v-model="description" lay-verify="required" lay-reqtext="字典类型不能为空" placeholder="请输入字典类型" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">键值</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>标签</th>
                        <th>键值</th>
                        <th>排序</th>
                        <th>
                            <a href="javascript:void(0)" @click="add();" class="layui-btn layui-btn-sm">新增</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for="(item,index) in dictList">
                        <td><input type="text" v-model="item.label" class="layui-input"></td>
                        <td><input type="text" v-model="item.value" class="layui-input"></td>
                        <td><input type="text" v-model="item.sort" class="layui-input"></td>
                        <td style="word-break: keep-all;white-space:nowrap;">
                            <a href="javascript:void(0)" th:if="${@permission.check('sys:dict:del')}" @click="del(index,item.id)" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: public_js" />
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data: {
            delIds: [],
            dictList: [[${dictList}]],
            type: [[${type}]],
            description: [[${description}]]
        },
        methods:{
            add: function () {
                var dict = {
                    "id": "",
                    "label":"",
                    "value":"",
                    "sort":""
                };
                app.$data.dictList.push(dict);
            },
            del: function (index,id) {
                app.$data.dictList.splice(index,1); //删除数组元素
                if ($.common.isNotEmpty(id)){
                    app.$data.delIds.push(id);
                    console.info(JSON.stringify(app.$data.delIds))
                }
            }
        }
    })
    layui.use(['form'], function () {

        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var dict = {
                delIds: app.$data.delIds,
                dictList: app.$data.dictList,
                type: app.$data.type,
                description: app.$data.description
            }
            $.operate.submit("/admin/dict/save", dict);
            return false;
        });

        layer.ready(function () {
            console.info("ready")
        })

    });
</script>
</body>
</html>