<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-row" id="app">
    <form class="layui-form" id="form-member-add">
        <input type="hidden" name="id" v-model="dict.id">
        <div class="layui-form-item">
            <label class="layui-form-label required">字典类型</label>
            <div class="layui-input-block">
                <input type="text" name="type" v-model="dict.type" lay-verify="required" lay-reqtext="字典类型不能为空" placeholder="请输入字典类型" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" v-model="dict.description" lay-verify="required" lay-reqtext="字典类型不能为空" placeholder="请输入字典类型" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" v-model="dict.sort" lay-verify="required" lay-reqtext="字典类型不能为空" placeholder="请输入字典类型" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">字典值</label>
            <div class="layui-input-block">
                <input type="text" name="value" v-model="dict.value" lay-verify="required" lay-reqtext="字典值不能为空" placeholder="请输入字典值" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block">
                <input type="text" name="label" v-model="dict.label" lay-verify="required" lay-reqtext="字典标签不能为空" placeholder="请输入字典标签" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data: {
            dict: [[${dict}]]
        }
    })
    layui.use(['form'], function () {

        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.operate.submit("/admin/dict/save", app.$data.dict);
            return false;
        });

        layer.ready(function () {
            console.info("ready")
        })

    });
</script>
</body>
</html>