<div th:fragment="public_css">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" media="all">
</div>

<div th:fragment="public_js">
<!--    <script th:src="@{/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>-->
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/lib/layui-v2.5.5/layui.js}" src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
</div>