<div th:fragment="public_css">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css" media="all">
</div>

<div th:fragment="public_js">
<!--    <script th:src="@{/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>-->
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/lib/layui-v2.5.5/layui.js}" src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/vue-global.js}"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/checkbox.js}"></script>
</div>

<div th:fragment="codemirror_css">
    <link rel="stylesheet" th:href="@{/lib/codemirror-5.31.0/lib/codemirror.css}"  >
    <link rel="stylesheet" th:href="@{/lib/codemirror-5.31.0/addon/fold/foldgutter.css}"  >
    <link rel="stylesheet" th:href="@{/lib/codemirror-5.31.0/addon/hint/show-hint.css}">
    <link rel="stylesheet" th:href="@{/lib/codemirror-5.31.0/addon/lint/lint.css}" >
</div>
<div th:fragment="codemirror_js">
    <script th:src="@{/lib/codemirror-5.31.0/lib/codemirror.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/comment/comment.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/selection/active-line.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/keymap/sublime.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/hint/show-hint.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/mode/python/python.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/fold/foldcode.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/fold/foldgutter.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/fold/brace-fold.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/fold/indent-fold.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/fold/comment-fold.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/edit/closebrackets.js}"></script>
    <script th:src="@{/lib/codemirror-5.31.0/addon/edit/matchbrackets.js}"></script>
    <!--Java代码高亮必须引入-->
    <script th:src="@{/lib/codemirror-5.31.0/clike.js}"></script>

</div>